<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar</title>
    <link rel="icon" href="images/logo-web.png">
    <link rel="stylesheet" href="css/login_page.css">
    <script src="https://kit.fontawesome.com/985f81e0fc.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="title">
            <p>RESERVASI SPA</p>
        </div>
        <div class="logo"></div>
        <div class="form">
            <form method="post" action="/daftar">
                <p>Nama</p>
                <div class="input-form">
                    <i class="fa-solid fa-user" style="color: #000000;"></i>
                    <input type="text" name="nama" placeholder="Masukkan nama" required>
                </div>

                <p>Username</p>
                <div class="input-form">
                    <i class="fa-solid fa-at" style="color: #000000;"></i>
                    <input type="text" name="username" placeholder="Masukkan username" required>
                </div>

                <p>Password</p>
                <div class="input-form">
                    <i class="fa-solid fa-key" style="color: #000000;"></i>
                    <input type="password" name="password" placeholder="Masukkan password" required>
                </div>

                <p>Konfirmasi Password</p>
                <div class="input-form">
                    <i class="fa-solid fa-key" style="color: #000000;"></i>
                    <input type="password" name="retypepassword" placeholder="Masukkan password kembali" required>
                </div>

                <p>Nomor HP</p>
                <div class="input-form">
                    <i class="fa-solid fa-phone" style="color: #000000;"></i>
                    <input type="tel" name="nomorhp" placeholder="Masukkan nomor telepon" required>
                </div>

                <p>Alamat</p>
                <div class="input-form">
                    <i class="fa-solid fa-address-card" style="color: #000000;"></i>
                    <input type="text" name="alamat" placeholder="Masukkan alamat" required>
                </div>

                <button>Daftar</button>
            </form>

            <div class="login-signup">
                <span class="text">Sudah memiliki akun?
                    <a href="login" class="text signup-text">Login</a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>