<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Home</title>
    <link rel="icon" href="images/logo-web.png">
    <link rel="stylesheet" href="css/home_page.css">
    <script src="https://kit.fontawesome.com/985f81e0fc.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="sidebar">
        <%- include('sidebar') %>
    </div>

    <div class="profile">
        <i class="fa-regular fa-circle-user" style="color: #ffffff;"></i>
        <p><%= dataSession %></p>
    </div>

    <div class="container">
        <div class="logo"></div>
        <h1 class="title">Selamat datang di BaliHalus Spa Reservation! Nikmati pengalaman relaksasi yang luar biasa dengan layanan spa berkualitas tinggi di Bali. Pesan perawatan spa Anda secara online dengan mudah dan cepat. Temukan ketenangan sejati melalui pijatan yang menenangkan, terapi aromaterapi, perawatan wajah yang menyegarkan, dan banyak lagi.</h1>
    </div>
</body>

</html>