<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Member</title>
    <link rel="icon" href="images/logo-web.png">
    <link rel="stylesheet" href="css/laporan.css">
    <script src="https://kit.fontawesome.com/985f81e0fc.js" crossorigin="anonymous"></script>
    <script type="module" src="js/laporan.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <div class="sidebar">
        <%- include('sidebar') %>
    </div>

    <div class="profile">
        <%- include('profile') %>
    </div>

    <div class="container">

        <div>
            <canvas id="myChart"></canvas>
          </div>
    </div>

    <script>
        const temp = '<%- JSON.stringify(dateObj) %>';
        const row = JSON.parse(temp);

        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September',
                    'Oktober', 'November', 'Desember'],
                datasets: [{
                    label: 'Total transaksi',
                    data: [row.januari, row.februari, row.maret, row.april, row.mei, row.juni, row.juli, row.agustus, row.september, row.oktober, row.november, row.desember],
                    borderWidth: 1,
                    borderColor: 'brown',
                    backgroundColor: 'white'
                }]
            },
            options: {
                scales: {
                    y: {
                        ticks: {
                            color: "white",
                            font: {
                                size: 18,
                            },
                            stepSize: 1,
                            beginAtZero: true
                        }
                    },
                    x: {
                        ticks: {
                            color: "white",
                            font: {
                                size: 14
                            },
                            stepSize: 1,
                            beginAtZero: true
                        }
                    }
                }
            }
        });
    </script>

</body>