<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/popupRefleksi.css" />
  </head>
  <body>
    <div id="popup-refleksi" class="popup-refleksi-body">
      <div class="popup-content">
        <div class="popup-content-judul">
          <h3>Detail transaksi</h3>
        </div>
        <div class="popup-content-namaCabang">
          <h5>Nama Cabang</h5>
        </div>
        <div class="popup-content-alamat">
          <h5>alamat</h5>
        </div>
        <div class="popup-content-waktu">
          <h5>tanggal</h5>
          <h5>jam</h5>
        </div>
        <div class="popup-content-harga">
          <h4>Total harga : 100.000</h4>
        </div>
        <div class="popup-content-button">
          <button
            id="pesan-refleksi"
            class="klik-refleksi"
            onclick="location.href='historiReservasi'"
          >
            Pesan
          </button>
          <button id="batal-refleksi" class="klik-refleksi">Batal</button>
        </div>
      </div>
    </div>
  </body>
</html>
