<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/popupBodyMassage.css">
</head>
<body>
  <div id="popup-bodyMassage" class="popup-bodyMassage-body">
    <div class="popup-content">
      <div class="popup-content-judul">
        <h3>Detail transaksi</h3>
      </div>
      <div class="popup-content-namaCabang">
        <h5>Nama Cabang</h5>
      </div>
      <div class="popup-content-alamat">
        <h5>Alamat </h5>
      </div>
      <div class="popup-content-waktu">
        <h5>Tanggal :</h5>
        <h5>Jam :</h5>
      </div>
      <div class="popup-content-layanan">
        <div class="popup-content-layanan-pilihan">
          <h5>Oil : gatsby</h5>
        </div>
      </div>
      <div class="popup-content-harga">
        <h4>Total harga : 150.000</h4>
      </div>
      <div class="popup-content-button">
        <button id="pesan-bodyMassage" class="klik-bodyMassage" onclick="location.href='historiReservasi'">Pesan</button>
        <button id="batal-bodyMassage" class="klik-bodyMassage">Batal</button>
      </div>
      
    </div>
  </div>
</body>
</html>