<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/popupSpa.css" />
  </head>
  <body>
    <div id="popup-spa" class="popup-spa-body">
      <div class="popup-content">
        <div class="popup-content-judul">
          <h3>Detail transaksi</h3>
        </div>
        <div class="popup-content-namaCabang">
          <h5>Nama Cabang</h5>
        </div>
        <div class="popup-content-alamat">
          <h5>alamat</h5>
        </div>
        <div class="popup-content-waktu">
          <h5>Tanggal : 10-20-2023</h5>
          <h5>Jam : 10:00</h5>
        </div>
        <div class="popup-content-layanan">
          <div class="popup-content-layanan-pilihan">
            <h5>Masker : gatsby</h5>
            <h5>Scrub : oli</h5>
          </div>
        </div>
        <div class="popup-content-harga">
          <h4>Total harga : 200.000</h4>
        </div>
        <div class="popup-content-button">
          <button id="pesan-spa" class="klik-spa" onclick="location.href='historiReservasi'">Pesan</button>
        <button id="batal-spa" class="klik-spa">Batal</button>
        </div>
      </div>
    </div>
  </body>
</html>
