<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sidebar_page.css">
    <script src="https://kit.fontawesome.com/985f81e0fc.js" crossorigin="anonymous"></script>
</head>

<div class="sidebar">
    <div class="sidebar-logo">
        <img src="/images/balihalus.png" alt="Logo">
    </div>
    <ul class="sidebar-menu">
        <li>
            <i class="fa-solid fa-building" style="color: #000000;"></i>
            <a href="/cabang">Cabang</a>
        </li>
        <li class="has-submenu">
            <i class="fa-solid fa-box-archive" style="color: #000000;"></i>
            <a href="#">Layanan</a>
            <ul class="submenu">
                <li><a href="#">Spa</a></li>
                <li><a href="#">Body Massage</a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <i class="fa-solid fa-address-card" style="color: #000000;"></i>
            <a href="#">Member</a>
            <ul class="submenu">
                <li><a href="#">Member Baru</a></li>
                <li><a href="#">Data Member</a></li>
            </ul>
        </li>
        <li>
            <i class="fa-solid fa-file" style="color: #000000;"></i>
            <a href="/laporan">Laporan</a>
        </li>
        <li class="tombol-keluar">
            <i class="fa-solid fa-door-open" style="color: #000000;"></i>
            <a href="/logout">Keluar</a>
        </li>
    </ul>
</div>