.popup-bodyMassage-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.klik-bodyMassage{
  width: 100%;
  height: 2vw;
}
#pesan-bodyMassage{
  background-color: greenyellow;
  border-radius: 10px;
}
#batal-bodyMassage{
  background-color: red;
  border-radius: 10px;
}
#pesan-bodyMassage:hover {
  background-color: grey;
}
#batal-bodyMassage:hover {
  background-color: grey;
}

