body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  background-image: url('../images/bg-home.jpg');
}

.container {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 1080px;
  height: 620px;
  color: black;
  margin: 200px 0 100px 222px;
  background-color: white;
  border-radius: 8px;
}

.container .title p:first-child{
  margin: 20px 0 4px 21px;
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.container .title p:last-child{
  margin: 0 0 20px 20px;
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 40px;
}

.container .title p{
  margin: 20px 0 20px 0;
}

.container .dateBox{
  margin: 0 0 20px 24px;
  display: flex;
}

.container .dateBox p{
  margin: 0 0 8px 4px;
}

.container .dateBox .box{
  background-color: #ededed;
  border-radius: 8px;
  width: 160px;
  height: 40px;
  text-align: center;
}

.container .dateBox .tanggal #tanggal{
  margin: 4px 0 0 0;
  border: none;
  background-color: transparent;
  font-size: 16px;
  width: 80%;
  height: 80%;
}

.container .dateBox .tanggal{
  margin: 0 20px 0 0;
}

.container .dateBox .jam #jam{
  margin: 4px 0 0 0;
  border: none;
  background-color: transparent;
  font-size: 16px;
  width: 80%;
  height: 80%;
}

.container .layanan p{
  justify-content: center;
  text-align: center;
}

.container .layanan .checkbox{
  margin: 80px 0 0 0;
  justify-content: center;
  text-align: center;
}

.container .layanan .layananBox{
  display: flex;
  justify-content: space-evenly;
}

.container .layanan .layananBox .box{
  background-color: #ededed;
  border-radius: 8px;
  width: 300px;
  height: 280px;
}

.container .layanan .title{
  font-weight: bold;
}

.container .layanan .layananBox .box .masker p{
  margin: 0 0 6px 16px;
  width: fit-content;
  justify-content: left;
}

.container .layanan .layananBox .box .scrub p{
  margin: 20px 0 6px 16px;
  width: fit-content;
  justify-content: left;
}

.container .layanan .layananBox .box .body_massage p{
  margin: 20px 0 6px 16px;
  width: fit-content;
  justify-content: left;
}

.container .layanan .layananBox .box .content .checkbox{
  justify-content: center;
}

.container .layanan .layananBox .box .content p{
  margin: 0;
}

.container .layanan .layananBox .box select{
  margin: 8px 0 0 10px;
}


.container .masker #dropdownMasker {
  padding: 0 0 0 8px;
  background-color: white;
  border: none;
  height: 36px;
  width: 93%;
  border-radius: 10px;
}

.container .scrub #dropdownScrub {
  padding: 0 0 0 8px;
  background-color: white;
  border: none;
  height: 36px;
  width: 93%;
  border-radius: 10px;
}

.container .body_massage #dropdownOil {
  padding: 0 0 0 8px;
  background-color: white;
  border: none;
  height: 36px;
  width: 93%;
  border-radius: 10px;
}

.container .btn-reservasi{
  text-align: center;
}

.container .btn-reservasi button{
  margin: 40px 0 0 0;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #543321;
  color: white;
  width: 160px;
  height: 40px;
}

.pagination{
  margin: 20px 0 0 0;
  border-radius: 20px;
  background-color: white;
  width: auto;
  height: auto;
}

.pagination a{
  text-decoration: none;
  margin: 0 10px 0 10px;
}

.sidebar {
  width: 200px;
  background-color: #f2f2f2;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 420px;
  max-width: 400px;
  overflow: hidden;
}

.edit{
  text-align: center;
}

.input-form input {
  width: 100%;
  outline: none;
  border: none;
}

.form p{
  margin: 0;
  padding: 10px 4px 8px 4px;
  text-align: left;
}
.form .input-form{
  background: #ededed;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0 0 0 10px;
}

.form .input-form input{
  height: 100%;
  background: none;
  border: none;
  outline: none;
  width: 100%;
}

.form .input-form i{
  padding: 2px 10px 2px 2px;
}

.footer-modal{
  display: flex;
  justify-content: space-between;
}

.form .btn-edit{
  border: none;
  margin: 24px 0 0 0;
  height: 40px;
  width: 48%;
  background-color: #543321;  
  color: #fff;
  font-size: medium;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.form .btn-edit:hover{
  background-color: #3b2418;
}

.form .btn-batal{
  border: none;
  margin: 24px 0 0 0;
  height: 40px;
  width: 48%;
  background-color: lightgray;  
  color: black;
  font-size: medium;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.form .btn-batal:hover{
  background-color: rgb(170, 170, 170);
}